@font-face {
    font-family: Noto-italic;
    src: url("fonts/NotoSans-LightItalic.ttf");
}

@font-face {
    font-family: Noto-Regular;
    src: url("fonts/NotoSans-Regular.ttf");
}

@font-face {
    font-family: chrone;
    src: url("fonts/Chrone.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    overflow-clip-margin: content-box;
    overflow: clip;
}

body {
    background-color: rgb(51, 1, 51);
}
.top-navbar-codaheader {
    background-color: rgb(107, 0, 107);
}


.top-navbar-container {
    width: 100%;
    position: relative;
    max-width: 1280px;
    padding: 0 10px;
    margin: auto auto 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 56px;
    overflow: visible;
}

.logo-container {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 30px;
    overflow-y: hidden;
    width: 100%;
}

.imglink {
    display: inline-flex;
    align-items: center;
    width: 100%;
    overflow: hidden;
}

.imglink a {
    text-decoration: none;
}

.imglink img {
    height: 24px;
    width: auto;
    cursor: pointer;
}


.logo-tag p {
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.logo-tag {
    display: inline-block;
    white-space: nowrap;
    color: white;
    font-family: Noto-Italic;
    margin: 0;
    line-height: 26px;
    text-overflow: ellipsis;
    padding-left: 10px;
    overflow: hidden;
    padding-bottom: 3px;
}


.search-cont {
    display: flex;
}

.search-wrapper {
    display: inline-flex;
    padding: 7px;
}

.search-wrapper i {
    color: white;
}


.bell-cont {
    display: flex;
}

.bell-wrapper {
    display: inline-flex;
    padding: 20px;
}

.bell-wrapper i {
    color: white;
}

.daftar-cont {
    display: flex;
    justify-content: flex-end;
    margin-left: 3px;
}

.daftar {
    background-color: rgb(201, 43, 201);
    border: none;
    height: 40px;
    width: 100px;
    border: 1px solid rgb(201, 43, 201);
    border-radius: 20px;
    margin-bottom: 0;
    white-space: nowrap;
    overflow: hidden;
    color: white;
    font-family: Noto-Regular;
    font-weight: bold;
    font-size: 0.895rem;
    box-shadow: -5px 5px 10px rgba(0,0,0,.16);
    cursor: pointer;
}


.home-feed-container {
    display: flex ;
    flex-direction: column;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    font-family: Noto-Regular;
    font-weight: bold;
    color: white;
    line-height: 20px;
}

.produk-list-cont {
    margin-top: 300px;
    display: flex;
    flex-direction: column;
}

.produk-list-title {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
}

.produk-list-title h2 {
    font-family: helvetica;
    font-size: 2rem;
    line-height: 40px;
    padding: 0 16px;
    margin: 0;
    max-width: 100%;
}

.produk-card-cont {
    display: inline-flex;
    justify-content: center;
    padding: 8px;
    text-align: center;
    overflow-wrap: break-word;
    word-break: break-word;
}

.produk-link-txt {
    background-color: rgb(158, 4, 158);
    color: white;
    display: inline-flex;
    text-decoration: none;
    flex-direction: column;
    flex-wrap: wrap;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    border-radius: 8px;
}

.produk-card-image {
    height: auto;
    object-fit: cover;
    width: 100%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.produk-card-title {
    padding: 8px 8px 19px;
    max-width: 100%;
    font-family: Noto-Regular;
    font-size: 0.8rem;
}


.produk-list-items {
    display: flex;
    flex-flow: row wrap;
    margin: 8px;
}


.promotion-list-container {
    background-image: url('img/bgpromo.jpg');
    background-repeat: no-repeat;
    margin-top: 30px;
    overflow: hidden;
    background-size: 100% 200px;
}

.promotion-title {
    font-size: 2rem;
    line-height: 40px;
    text-shadow: 12px 12px 15px purple;
    margin: 0;
    max-width: 100%;
    font-family: chrone;
    padding-left: 30px;
}

.promo-card-container {
    margin-top: 20px;
    display: flex;
    padding-left: 20px;
    column-gap: 30px;
}

.promo-card {
    background-color: white;
    padding: 10px;
    height: 300px;
    box-shadow: 10px 10px 15px black;
    width:  300px;
    align-items: center;
    border-radius: 16px;
}

.promo-artikel {
    color: black;
    text-align: center;
    padding-top: 26px;
}

.promo-image {
    max-height: 210px;
    object-fit: cover;
    max-width: 100%;
    border-radius: 16px;
    
}


banner{
    display: flex;
    align-items: center;
    justify-content: center;
}
.banner::-webkit-scrollbar{
    display: none;
}

.img{
    border-radius: 30px;
    height: 280px;
    width: 800px;
    object-fit: cover;
    opacity: 0 ;
    position: absolute;
    transition: all 0.5s ease;
}
.show{
    opacity: 1;
}

.bannercont {
    width: 100%;
    align-items: center;
    display: flex;
    margin-top: 10px;
    margin-left: 320px;

}